<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление работы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="header :: header"/>
<div class="container">
    <form method="post">
        <input type="text" name="name" placeholder="Введите название работ">
        <input type="text" name="coast" placeholder="Введите стоимость">
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>